.formacao {
  display: flex;
  flex-direction: column;
  width: 130px;
}

.formacao img {
  width: 130px;
  height: 130px;
}

.formacao img {
  border-radius: 5px;
}

.formacao:hover img {
  filter: grayscale(100%);
  transition: filter .5s ease-in-out;
}

.formacao:hover h3,
.formacao:hover p {
  color: #808080;
  transition: color .5s ease-in-out;
}

.formacao h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.formacao p {
  margin-top: .2rem;
  margin-bottom: 0rem;
  color: #bcbcbc;
}