.menu {
  align-items: center;
  /* background-color: #f7f7f7; */
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f7f7f7;
  /* text-transform: lowercase; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu > img:hover {
  opacity: .6;
  cursor: pointer;
}
