.menu__lista {
  display: none;
  list-style: none;
}

.menu__lista li {
  margin-right: 1.25rem;
  cursor: pointer;
  font-weight: 300;
  transition: color .3s ease-in-out;
}

.menu__lista li a {
  color: #333;
  text-decoration: none;
}

.menu__lista li a:hover {
  color: #808080;
}

.menu__lista li:last-child {
  font-weight: 500;
}

.menu__lista li:last-child {
  margin-right: 0rem;
}

@media screen and (min-width: 768px) {
  .menu__lista {
    display: flex;
  }

  .menu-hamburguer {
    display: none;
  }
}
