.menu__lista {
  display: none;
  list-style: none;
}

.menu__lista li {
  margin-right: 1.25rem;
  cursor: pointer;
  font-weight: 300;
  transition: color .3s ease-in-out;
}

.menu__lista li a {
  color: #333;
  text-decoration: none;
}

.menu__lista li a:hover {
  color: #808080;
}

.menu__lista li:last-child {
  font-weight: 500;
}

.menu__lista li:last-child {
  margin-right: 0rem;
}

.menu__lista--mobile {
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem;

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

.menu__lista--mobile ul {
  margin-right: 0rem;
  margin-left: 0rem;
}

.menu__lista--mobile li {
  margin-right: 0rem;
  margin-left: 0rem;
}

.menu__mobile .ativo {
  align-items: center;
  display: flex;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  /* background: lightcoral; */
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .menu__lista {
    display: flex;
  }

  .menu__lista--mobile {
    display: none;
  }

  .menu__mobile {
    display: none;
  }
}
