.projeto__informacoes h3,
.projeto__informacoes p {
  margin-top: .4rem;
  margin-bottom: .7rem;
}

.projeto__informacoes h3,
.projeto__informacoes p {
    text-align: center;
}

.projeto__informacoes--botoes {
  display: flex;
  justify-content: center;
}

.projeto__informacoes a {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  opacity: .5;
  text-decoration: none;
  color: #000;
  margin-left: 15px;
}

.projeto__informacoes a:last-child {
  margin-left: 10px;
}

.projeto__informacoes a:hover {
  opacity: 1;
  cursor: pointer;
}

.projeto__informacoes a::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../../img/arrow-up-right.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 968px) {
  .projeto__informacoes h3,
  .projeto__informacoes p {
    text-align: left;
    margin-top: 0rem;
  }

  .projeto__informacoes--botoes {
    display: flex;
    justify-content: left;
  }
}