.apresentacao {
  align-items: center;
  border-bottom: 2px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .apresentacao {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
