.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f5f5f5;
}

.contato__imagem {
  display: none;
  max-width: 300px;
}

.contato__imagem img {
  border-radius: 5px;
  width: 100%;
}

.contato__formulario {
  padding: 0rem 1.2rem;
}

.contato__formulario h2 {
  margin: .5rem 0rem;
}

.contato__formulario p {
  margin: .3rem 0rem;
}

.contato__formulario form {
  margin: .9rem 0rem;
}

.contato__formulario input,
.contato__formulario textarea {
  display: block;
  width: 100%;
  padding: .7rem .4rem;
  margin: .7rem 0rem;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.contato__formulario input:invalid,
.contato__formulario textarea:invalid {
  border-bottom: 2px solid lightcoral;
  outline: none;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.contato__formulario textarea {
  resize: vertical;
}

.contato__formulario input:focus,
.contato__formulario textarea:focus {
  border-bottom: 2px solid #d4d5ce;
  outline: none;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.contato__formulario span {
  display: none;
}

.input__span--erro {
  color: lightcoral;
  font-size: .9rem;
}

.contato__formulario input[type=submit] {
  width: 12rem;
  padding: .7rem .4rem;
  color: black;
  background-color: #d4d5ce;
  cursor: pointer;
}

.contato__formulario input[type=submit]:disabled {
  /* opacity: .3; */
  background-color: blue;
}

.contato__formulario input[type=submit]:hover {
  opacity: .6;
}

.contato__formulario input[value="Enviar mensagem"] {
  color: black;
}

@media screen and (min-width: 768px) {
  .contato__imagem {
    display: block;
  }
}