.formacoes-academicas h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.formacoes-e-cursos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  
}

.formacao {
  display: flex;
  flex-direction: column;
  width: 130px;
  
}

.formacao img {
  width: 130px;
  height: 130px;
}

.formacao img {
  border-radius: 5px;
}

.formacao:hover img {
  filter: grayscale(100%);
  transition: filter .5s ease-in-out;
}

.formacao:hover h3,
.formacao:hover p {
  color: #808080;
  transition: color .5s ease-in-out;
}

.formacao h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.formacao p {
  margin-top: .2rem;
  margin-bottom: 0rem;
  color: #bcbcbc;
}