.projetos {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.projetos__sessoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.projeto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.projeto:nth-child(2) {
  /* background: blue; */
  flex-direction: column-reverse;
}

.projeto__amostra {
  max-width: 500px;
}

.projeto__amostra img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.projeto__informacoes h3,
.projeto__informacoes p {
  margin-top: .4rem;
  margin-bottom: .7rem;
}

.projeto__informacoes h3,
.projeto__informacoes p {
    text-align: center;
}

.projeto__informacoes--botoes {
  display: flex;
  justify-content: center;
}

.projeto__informacoes button {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  opacity: .5;
}

.projeto__informacoes button:last-child {
  margin-left: 10px;
}

.projeto__informacoes button:hover {
  opacity: 1;
  cursor: pointer;
}

.projeto__informacoes button::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../img/arrow-up-right.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* padding-left: 4px; */
  /* padding-right: 7px; */
}

.mais-projetos {
  margin-top: 2rem;
  text-decoration: none;
  color: #333;
  border: 1px solid #808080;
  padding: 15px;
  border-radius: 5px;
  transition: background .3s ease-in-out;
}

.mais-projetos:hover {
  opacity: .7;
  background-color: #efefef;
}

@media screen and (min-width: 968px) {
  .projeto {
    flex-direction: row;
  }

  .projeto:nth-child(2) {
    flex-direction: row;
  }

  .projeto__informacoes h3,
  .projeto__informacoes p {
    text-align: left;
    margin-top: 0rem;
  }

  .projeto__informacoes--botoes {
    display: flex;
    justify-content: left;
  }
}
